body {
    padding: 0;
    margin: 0;
}

.navbar a {
    color: white;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, rgb(41, 52, 207), darkblue);
}

aside {
    display: flex;
    float: left;
    width: 200px;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 15px;
}

.btn{
    margin: 5px;
}
main {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: 70%;
}

.cityBtn {
    border-top: 1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxCity {
    outline: 1px solid black;
    height: 150px;
    width: 50%;
    display: flex;
    float: right;
}

.forecast-container{
    display: flex;
    float: right;
    flex-wrap: nowrap;
}

.card-body{
    background-color: rgb(2, 2, 86);
    color: white;
    margin: 3px;
}

